<br>
<br>
<br>
<div class="page-content-wrapper">
  <div class="container">
    <!-- Checkout Wrapper-->
    <div class="checkout-wrapper-area py-3">
      <!-- Billing Address-->
      <div class="billing-information-card mb-3">
        <div class="card billing-information-title-card bg-primary">
          <div class="card-body">
            <h6 class="text-center mb-0 text-white"> نمایش استعلام شماره کارت </h6>
          </div>
        </div>
        <div class="card user-data-card">
          <div class="card-body">
			@if (ViewBag.msg != null)
			{
				<br>
				<div class="text-center">
					<h5 class="alert alert-danger">@ViewBag.msg</h5>
				</div>
				<br>
				<br>
			}      
			else
			{      
            	<div class="single-profile-data d-flex align-items-center justify-content-between">
            	  <div class="title d-flex align-items-center"><span>نام و نام خانوادگی : </span></div>
            	  <div class="data-content">@ViewBag.Name </div>
            	</div>                      
            	<div class="single-profile-data d-flex align-items-center justify-content-between">
            	  <div class="title d-flex align-items-center"><span>وضعیت استعلام : </span></div>
            	  <div class="data-content">@ViewBag.Description</div>
            	</div>
            	<div class="single-profile-data d-flex align-items-center justify-content-between">
            	  <div class="title d-flex align-items-center"><span>شماره کارت : </span></div>
            	  <div class="data-content">@ViewBag.DestCard </div>
            	</div>
            	<div class="single-profile-data d-flex align-items-center justify-content-between">
            	  <div class="title d-flex align-items-center"><span>تاریخ استعلام : </span></div>
            	  <div class="data-content">@ViewBag.DoTime </div>
            	</div>
			} 
          </div>
        </div>
      </div>
	</div>
  </div>
</div>