@model ViewModels.AdminViewModel.Gabz.Vm_Gabz;

<br>
<br>
<form method="POST" action="/Mobile/PayGabz/result">
	<input asp-for="amount" value="@ViewBag.Amount" class="d-none">
	<input asp-for="bill_id" value="@ViewBag.BillId" class="d-none">
	<input asp-for="pay_id" value="@ViewBag.PayId" class="d-none">
	<input asp-for="Titel"  value="@ViewBag.Title" class="d-none">
	@if (ViewBag.Msg != null)
	{
		<div class="text-center">
			<h5 class="alert alert-danger">@ViewBag.Msg</h5>
		</div>
	}
	<div class="page-content-wrapper">
	  <div class="container">
	    <!-- Checkout Wrapper-->
	    <div class="checkout-wrapper-area py-3">
	      <!-- Billing Address-->
	      <div class="billing-information-card mb-3">
	        <div class="card billing-information-title-card bg-primary">
	          <div class="card-body">
	            <h6 class="text-center mb-0 text-white"> نمایش استعلام قبض </h6>
	          </div>
	        </div>
	        <div class="card user-data-card">
	          <div class="card-body">                                   
	            <div class="single-profile-data d-flex align-items-center justify-content-between">
	              <div class="title d-flex align-items-center"><span>شناسه قبض :</span></div>
	              <div class="data-content">@ViewBag.BillId</div>
	            </div>
	            <div class="single-profile-data d-flex align-items-center justify-content-between">
	              <div class="title d-flex align-items-center"><span>شناسه پرداخت :</span></div>
	              <div class="data-content">@ViewBag.PayId </div>
	            </div>
	            <div class="single-profile-data d-flex align-items-center justify-content-between">
	              <div class="title d-flex align-items-center"><span>مبلغ :</span></div>
	              <div class="data-content" id="curency">@ViewBag.Amount  ریال </div>
	                    <script>
						    document.getElementById("curency").innerText = document.getElementById("curency").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
						</script>
	            </div>
	            <div class="single-profile-data d-flex align-items-center justify-content-between">
	              <div class="title d-flex align-items-center"><span>تاریخ : </span></div>
	              <div class="data-content">@ViewBag.Date</div>
	            </div>
				<button type="submit" class="btn btn-success w-100">
					پرداخت
				</button>
	          </div>
	        </div>
	      </div>
		</div>
	  </div>
	</div>
</form>